In [1]:
import numpy as np
import pandas as pd

1. Сгенерировать случайным образом массив numpy из 1000 значений
нормально распределенной случайной величины (numpy.random.normal) с
мат.
ожиданием
M = 1.0
и стандартным отклонением
s = 1.0.
Преобразовать его в объект Series.

In [2]:
normal_array = np.random.normal(loc=1.0, scale=1.0, size=1000)
normal_series = pd.Series(normal_array)
normal_series

0      1.823486
1      1.222628
2      1.809133
3      1.109383
4      1.122253
         ...
995    0.617141
996    1.457429
997    0.324308
998    0.899377
999    1.249728
Length: 1000, dtype: float64

2. Вычислить, какая доля всех значений находится в диапазоне (M-s; M+s).

In [8]:
sigma_range = ((normal_series > 0.0)&(normal_series < 2.0)).mean()
sigma_range

np.float64(0.68)

3. Вычислить, какая доля всех значений находится в диапазоне (M-3s; M+3s).
Какой должна быть эта доля теоретически? Насколько реальный
результат соответствует теории?

In [7]:
sigma3_range = ((normal_series > -2.0)&(normal_series < 4.0)).mean()
sigma3_range

np.float64(0.997)

Массив действительно состоит из значений нормально распределенной случайной величины

4. Заменить каждое значение x в серии на его квадратный корень. Результат записать в новый объект Series. Почему
возникает предупреждение, и что происходит с теми значениями, для
которых возникает предупреждение?

In [11]:
series_sqrt = np.sqrt(normal_series)
series_sqrt

/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

0      1.350365
1      1.105725
2      1.345040
3      1.053273
4      1.059364
         ...
995    0.785583
996    1.207240
997    0.569480
998    0.948355
999    1.117912
Length: 1000, dtype: float64

предупреждение появляется из-за отрицательных значений, для которых вместо корня записываетсяч NaN

5. Посчитать среднее арифметическое для получившихся значений.
Отсутствующие значения (NaN) учитываться не должны.

In [12]:
average_value = series_sqrt.mean()
average_value

np.float64(1.0581329866622955)

6. На основе двух объектов Series
создать DataFrame с двумя столбцами. Названия (явные индексы) для
столбцов: «number» и «root» соответственно. Явные индексы для строк не
задавать. Вывести первые 6 строк из созданного датафрейма.

In [13]:
df = pd.DataFrame({'number': normal_series, 'root': series_sqrt})
df.head(6)

     number      root
0  1.823486  1.350365
1  1.222628  1.105725
2  1.809133  1.345040
3  1.109383  1.053273
4  1.122253  1.059364
5 -0.479056       NaN

7. С помощью функции query найти в датафрейме записи, в которых
значение квадратного корня находится в диапазоне от 1.8 до 1.9. Вывести
результат.

In [14]:
filtered = df.query('1.8 <= root <= 1.9')
filtered

       number      root
71   3.252289  1.803410
150  3.257316  1.804804
265  3.243573  1.800992
301  3.596879  1.896544
349  3.530511  1.878965
545  3.593682  1.895701
606  3.313786  1.820381
917  3.343214  1.828446