In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix
from google.colab import files

uploaded = files.upload()

Saving telecom_churn.csv to telecom_churn.csv

In [2]:
df = pd.read_csv('telecom_churn.csv',
                 usecols=['State', 'Area code', 'International plan',
                          'Number vmail messages', 'Total day minutes',
                          'Total day calls', 'Total eve minutes', 'Total eve calls',
                          'Total night minutes', 'Total night calls',
                          'Customer service calls', 'Churn'])
df

,State,Area code,International plan,Number vmail messages,Total day minutes,Total day calls,Total eve minutes,Total eve calls,Total night minutes,Total night calls,Customer service calls,Churn
0,KS,415,No,25,265.1,110,197.4,99,244.7,91,1,False
1,OH,415,No,26,161.6,123,195.5,103,254.4,103,1,False
2,NJ,415,No,0,243.4,114,121.2,110,162.6,104,0,False
3,OH,408,Yes,0,299.4,71,61.9,88,196.9,89,2,False
4,OK,415,Yes,0,166.7,113,148.3,122,186.9,121,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,415,No,36,156.2,77,215.5,126,279.1,83,2,False
3329,WV,415,No,0,231.1,57,153.4,55,191.3,123,3,False
3330,RI,510,No,0,180.8,109,288.8,58,191.9,91,2,False
3331,CT,510,Yes,0,213.8,105,159.6,84,139.2,137,2,False
3332,TN,415,No,25,234.4,113,265.9,82,241.4,77,0,False

1. Выведите общую информацию о датафрейме с помощью методов info или
describe. Есть ли отсутствующие данные?

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Area code               3333 non-null   int64
 2   International plan      3333 non-null   object
 3   Number vmail messages   3333 non-null   int64
 4   Total day minutes       3333 non-null   float64
 5   Total day calls         3333 non-null   int64
 6   Total eve minutes       3333 non-null   float64
 7   Total eve calls         3333 non-null   int64
 8   Total night minutes     3333 non-null   float64
 9   Total night calls       3333 non-null   int64
 10  Customer service calls  3333 non-null   int64
 11  Churn                   3333 non-null   bool
dtypes: bool(1), float64(3), int64(6), object(2)
memory usage: 289.8+ KB

Пропущенных данных нет

2. С помощью метода value_counts определите, сколько клиентов активны, а
сколько потеряно. Сколько процентов клиентов в имеющихся данных
активны, а сколько потеряны?

In [5]:
clients = df['Churn'].value_counts()
print("Клиентов активно:" + str(round(clients[False]/len(df), 2)))
print("Клиентов потеряно: " + str(round(clients[True]/len(df), 2)))

Клиентов активно:0.86
Клиентов потеряно: 0.14

3. Добавьте дополнительный столбец в датафрейм
–
средняя
продолжительность одного звонка (вычислить как суммарная
продолжительность всех звонков, деленная на суммарное количество
всех звонков). Отсортируйте данные по этому значению по убыванию и
выведите 10 первых записей.

In [6]:
df['Average minutes'] = df[
    ['Total day minutes', 'Total eve minutes', 'Total night minutes']
].mean(axis=1)
df.sort_values('Average minutes', ascending=False).head(10)

,State,Area code,International plan,Number vmail messages,Total day minutes,Total day calls,Total eve minutes,Total eve calls,Total night minutes,Total night calls,Customer service calls,Churn,Average minutes
289,OK,510,No,0,303.9,95,260.9,114,312.1,89,1,True,292.300000
985,NY,415,Yes,0,346.8,55,249.5,79,275.4,102,1,True,290.566667
3205,MS,408,No,0,294.7,90,294.6,72,260.1,121,1,True,283.133333
914,MO,510,No,0,287.3,123,288.0,114,266.0,112,0,True,280.433333
2356,FL,415,No,0,273.8,97,289.7,106,269.1,126,2,True,277.533333
1645,CT,415,No,36,283.1,112,286.2,86,261.7,129,3,False,277.000000
244,VA,408,No,0,198.5,99,267.8,60,354.9,75,0,True,273.733333
365,CO,415,No,0,350.8,75,216.5,94,253.9,100,1,True,273.733333
1317,NE,415,No,29,163.5,80,274.8,136,381.9,147,2,False,273.400000
302,RI,408,No,0,170.4,108,350.5,68,297.0,87,0,True,272.633333

4. Сгруппируйте данные по значению поля «Churn» и вычислите среднюю
продолжительность одного звонка в каждой категории. Есть ли
существенная разница в средней продолжительности одного звонка
между активными и потерянными клиентами?

In [7]:
churn_group_by_avg = df.groupby('Churn')['Average minutes'].mean()
churn_group_by_avg

Churn
False    191.450749
True     208.185300
Name: Average minutes, dtype: float64

Разница не существенна

5. Сгруппируйте данные по значению поля «Churn» и вычислите среднее
количество звонков в службу поддержки в каждой категории. Есть ли
существенная разница между активными и потерянными клиентами?

In [8]:
churn_group_by_calls = df.groupby('Churn')['Customer service calls'].mean()
churn_group_by_calls

Churn
False    1.449825
True     2.229814
Name: Customer service calls, dtype: float64

Потерянные клиенты звонили в службу поддержки примерно в два раза чаще в среднем

6. Исследуйте подробнее связь между параметрами «Churn» и «Customer
service calls», построив таблицу сопряженности (факторную таблицу) по
этим признакам. Подсказка: используйте функцию crosstab. При каком
количестве звонков в службу поддержки процент оттока становится
существенно выше, чем в целом по датафрейму? (В качестве уточнения
фразы «существенно выше» можете использовать «более 40%».)

In [9]:
contigency_table = pd.crosstab(df['Churn'], df['Customer service calls'])
contigency_table

Customer service calls    0     1    2    3   4   5   6  7  8  9
Churn
False                   605  1059  672  385  90  26   8  4  1  0
True                     92   122   87   44  76  40  14  5  1  2

In [11]:
percent_table = pd.crosstab(df['Customer service calls'], df['Churn'], normalize='index').round(4) * 100
percent_table

Churn                   False   True
Customer service calls
0                       86.80   13.20
1                       89.67   10.33
2                       88.54   11.46
3                       89.74   10.26
4                       54.22   45.78
5                       39.39   60.61
6                       36.36   63.64
7                       44.44   55.56
8                       50.00   50.00
9                        0.00  100.00

После четырех звонков клиенты уходят чаще.

7. Аналогично предыдущему пункту исследуйте связь между
параметрами «Churn» и «International plan». Можно ли утверждать, что
процент оттока среди клиентов, использующих международный
роуминг, существенно выше или ниже, чем среди клиентов, не
использующих его?

In [12]:
percent_table_international = pd.crosstab(df['International plan'], df['Churn'], normalize='index').round(4) * 100
percent_table_international

Churn               False  True
International plan
No                  88.50  11.50
Yes                 57.59  42.41

Процент оттока использующих международный роуминг действительно выше

8. Добавьте в датафрейм столбец «Прогнозируемый отток», заполнив его
на основе значений столбцов «Customer service calls» и «International plan».
Сравните значение в этом столбце со значением столбца «Churn». Если
мы будем пользоваться построенным прогнозом, то какой процент
ошибок первого и второго рода
(ложноположительных и
ложноотрицательных) мы получим?

In [13]:
df['Прогнозируемый отток'] = (df['Customer service calls'] >= 4) | (df['International plan'] == 'Yes')
df

,State,Area code,International plan,Number vmail messages,Total day minutes,Total day calls,Total eve minutes,Total eve calls,Total night minutes,Total night calls,Customer service calls,Churn,Average minutes,Прогнозируемый отток
0,KS,415,No,25,265.1,110,197.4,99,244.7,91,1,False,235.733333,False
1,OH,415,No,26,161.6,123,195.5,103,254.4,103,1,False,203.833333,False
2,NJ,415,No,0,243.4,114,121.2,110,162.6,104,0,False,175.733333,False
3,OH,408,Yes,0,299.4,71,61.9,88,196.9,89,2,False,186.066667,True
4,OK,415,Yes,0,166.7,113,148.3,122,186.9,121,3,False,167.300000,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,415,No,36,156.2,77,215.5,126,279.1,83,2,False,216.933333,False
3329,WV,415,No,0,231.1,57,153.4,55,191.3,123,3,False,191.933333,False
3330,RI,510,No,0,180.8,109,288.8,58,191.9,91,2,False,220.500000,False
3331,CT,510,Yes,0,213.8,105,159.6,84,139.2,137,2,False,170.866667,True
3332,TN,415,No,25,234.4,113,265.9,82,241.4,77,0,False,247.233333,False

In [17]:
cm = confusion_matrix(df['Churn'], df['Прогнозируемый отток'])
tp, fp, fn, tn = cm.ravel()
print(f"Процент ошибок первого рода: {fp/len(df)*100:.1f}%")
print(f"Процент ошибок второго рода: {fn/len(df)*100:.1f}%")

Процент ошибок первого рода: 9.2%
Процент ошибок второго рода: 6.8%